extends layout

block content 
  input(type="hidden", id="game_id", value=""+game._id)
  .grid_10.prefix_2
    -var verbose = true;
    include game_board
  .grid_4
    .chat
      textarea#chat_messages.chat_messages
      form(name="/game_message", id="message", action="/games/"+game._id+"/message/", method="post")
        input(type="hidden", id="room", name="room", value=game.id)
        input(type="text", id="chat_input", name="chat_input")
        input(type="submit", id="chat_submit", name="chat_submit")
