tr 
  td
    a(href="/games/"+game._id)
      =game.name
  td
    -if (white)
      = white.name
    -else
      form(id="myform1"+game._id, method="post", action="/games/"+game._id+"/join")
        input(type="hidden", name="color", value="w")
        a(href='#', class="join_game")
          ="None"
  td
    -if (black)
      =black.name
    -else
      form(id="myform2"+game._id, method="post", action="/games/"+game._id+"/join")
        input(type="hidden", name="color", value="b")
        a(href='#', class="join_game")
          ="None"
  td=game.private
