extends layout

block content
  script(type='text/javascript').
    var socket = io.connect('http://localhost');
    socket.on('sending shit', function (data) {
      console.log(data);
      socket.emit('receiving shit', { my: 'ass'  });
    });
  .grid_10.prefix_2
    h2="Game: "+game.name
    #board
    b
      -if(game.black)
        p
          ="Black: "
          -if (game.black._id == current_user.id) 
            =game.black.name+" "
            a(href="/games/"+game._id+"/leave")
              ="(quit)"
          -else
            =game.black.name
      -else
        form(id="myform1"+game._id, method="post", action="/games/"+game._id+"/join")
          ="Black: None "
          input(type="hidden", name="color", value="black")
          a(onclick="document.getElementById('myform1"+game._id+"').submit();", href='#')
            ="(join)"
    b
      -if(game.white)
        p
          ="White: "
          -if (game.white._id == current_user.id)
            =game.white.name+" "
            a(href="/games/"+game._id+"/leave")
              ="(quit)"
          -else
            =game.white.name
      -else
        form(id="myform2"+game._id, method="post", action="/games/"+game._id+"/join")
          ="White: None "
          input(type="hidden", name="color", value="white")
          a(onclick="document.getElementById('myform2"+game._id+"').submit();", href='#')
            ="(join)"
