extends layout

block content
  script(type='text/javascript').
    var socket = io.connect('http://localhost');
    socket.on('sending shit', function (data) {
      console.log(data);
      socket.emit('receiving shit', { my: 'ass'  });
    });
  .container_16
    #board.grid_10.prefix_2
    .grid_10.prefix_2
      b
        ="Black player is: "
        -if(game.black && game.black._id == current_user.id) 
          =game.black.name+" "
          a(href="/games/'+game._id+'/leave")
            ="(quit)"
        -else
          =(game.black ? game.black.name : "None")
      br
      b
        ="White player is: "
        -if(game.white && game.white._id == current_user.id) 
          =game.white.name+" "
          a(href="/games/"+game._id+"/leave")
            ="(quit)"
        -else
          =(game.black ? game.white.name : "None")
