extends layout

block content 
  input(type="hidden", id="game_id", value=""+game._id)
  .grid_10.prefix_2
    -var verbose = true;
    include game_board
  .grid_4.game_chat
    ul(id="chat_tabs")
      li(data-chat="lobby")="Lobby"
      li(data-chat=""+game._id, class="selected")="Game"
    .chat_messages.hidden(id="lobby-chat")
    .chat_messages(id=""+game._id+"-chat")
    form(name="/game_message", id="message", action="/games/"+game._id+"/message/", method="post")
      input(type="hidden", id="room", name="room", value=game.id)
      input(type="submit", id="chat_submit", name="chat_submit", class="right")
      .inputbox
        input(type="text", id="chat_input", name="chat_input", autocomplete="off")

