doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/960.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/jquery.js')
    script(src='/javascript/raphael.js')
    script(src='/javascript/chess.js')
  body
    block content
