doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/960.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/chesslogic.js')
    script(src='/javascripts/chess.js')
    script(src='/javascripts/board.js')
  body
    .container_16
      .header.box
        a(href="/").left
          img(src="/images/mini-logo.png")
        #breadcrumbs.left
          ul
            -for (var i = 0; i < breadcrumbs.length; i++)
              -crumb = breadcrumbs[i];
              li
                a(href=crumb[1])
                  =crumb[0]
        -if (current_user != undefined)
          #user_status.right
            b="You are logged in as "+ current_user.name+" "
            a(href="/logout")="(Logout)"
      block content
