doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/960.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/chesslogic.js')
    script(src='/javascripts/chess.js')
    script(src='/javascripts/board.js')
  body
    -if (current_user != undefined)
      .header
        b="You are logged in as "+ current_user.name+" "
        a(href="/logout")="(Logout)"
    block content
