extends layout

block content
  .container_16
    .grid_4.prefix_2
      h1.
        Welcome to NodeChess
      p.
        Please login:
      div.loginbox
        form(name="login", action="/attempt_login", method="post")
          input(type="text", name="user")
          input(type="password", name="password")
          input(type="submit", value="login")
      p.
       Or create a new account:
      div.createbox
        form(name="create_account", action="/create_account", method="post")
          input(type="text", name="user")
          input(type="password", name="password")
          input(type="submit", value="create")
    
