extends layout

block content
  .grid_10.prefix_3
    .box
      img(src='/images/Logo.png')
      hr
      .prefix_1
        p.
          Please login:
        div.loginbox
          form(name="login", action="/attempt_login", method="post")
            .field
              input(type="text", placeholder="username", name="user")
            .field
              input(type="password", placeholder="password", name="password")
              input(type="submit", value="login", class="login")
        p.
         Or create a new account:
        div.createbox
          form(name="create_account", action="/create_account", method="post")
            .field
              input(type="text", placeholder="username", name="user")
            .field
              input(type="password", placeholder="password", name="password")
              input(type="submit", value="create", class="create_user")
      
