body {
  padding: 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  font-size: 10px;
  width: 100%;
  padding-bottom: 10px;
}

#game_list table{
  border: 2px solid black;
  width: 100%;
}

#game_list table th {
  border: 2px solid black;
}